name: Deploy React Portfolio to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.REACT_HOST }}
          username: ${{ secrets.REACT_USER }}
          key: ${{ secrets.REACT_SSH_KEY }}
          script: |
            rm -rf /var/www/html/*
            mkdir -p /var/www/html

      - name: Copy build files to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.REACT_HOST }}
          username: ${{ secrets.REACT_USER }}
          key: ${{ secrets.REACT_SSH_KEY }}
          source: "build/*"
          target: "/var/www/html"
